<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>🚽 Tracker</title>
	<meta name="description" content="Track your goings to the Toilet!">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="page.css">
	<script src="installer.js" async></script>
	<script src="vue.min.js" defer></script>
	<script src="page.js" defer></script>
</head>
<body>
	<div id="v" v-cloak>
		<nav>
			<ul>
				<li v-for="nav in navs">
					<button @click="navigateTo(nav)" :class="{active: nav.active}">{{ nav.label }}</button>
				</li>
			</ul>
		</nav>

		<section v-if="page.section === 'today'" class="today">
			<div>
				<label aria-label="poo">💩</label>
				<button @click="decr('poos')" :disabled="poos == 0" aria-label="decrement">➖</button>
				<span class="counter">{{ poos }}</span>
				<button @click="incr('poos')" aria-label="increment">➕</button>
			</div>
			<div>
				<label aria-label="pee">💦</label>
				<button @click="decr('pees')" :disabled="pees == 0" aria-label="decrement">➖</button>
				<span class="counter">{{ pees }}</span>
				<button @click="incr('pees')" aria-label="increment">➕</button>
			</div>
			<div>
				<label aria-label="not poo and not pee">❓</label>
				<button @click="decr('fails')" :disabled="fails == 0" aria-label="decrement">➖</button>
				<span class="counter">{{ fails }}</span>
				<button @click="incr('fails')" aria-label="increment">➕</button>
			</div>
		</section>
	
		<section v-if="page.section === 'overall'">
	
		</section>
	
		<section class="sum">
			You were <strong>{{ count }}</strong>&times; on the
			<div class="wc" aria-label="toilet">🚽</div>
			{{ page.label }}.
	
			<div v-if="page.section === 'overall'">
				Of these
				<span>{{ getOverall('poos') }} &times; <span aria-label="poo">💩</span>,</span>
				<span>{{ getOverall('pees') }} &times; <span aria-label="pee">💦</span> and</span>
				<span>{{ getOverall('fails') }} &times; <span aria-label="something else">❓</span></span>
			</div>
		</section>
	</div>
	<script src="page.js"></script>
</body>
</html>