* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
}

body {
    padding: 2em 1em 1em;
    font-family: sans-serif;
    text-align:center;
}

section {
    margin-top: 3em;
}

.sum {
    background: #ccc;
    border-radius: .5em;
    padding: 1em;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li + li {
    margin-left: 1em;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
    text-transform: uppercase;
}

nav button {
    border: 2px solid #ccc;
    border-radius: .5em;
    padding: .25em .5em;
}

nav button:focus,
nav button:hover {
    background-color: deeppink;
    border-color: deeppink;
    outline: none;
}

section button {
    transition: all .2s ease;
}

section button:focus,
section button:hover {
    transform: rotate(-10deg) scale(1.1);
    outline: none;
}

button[disabled] {
    opacity: .1;
}

label {
    display: block;
    margin-top: 1em;
}

.counter {
    margin: 0 1em;
}

.wc {
    font-size: 4em;
}

#v {
    min-width: 70vw;
}

[v-cloak] {
    display: none;
}

.today > div {
    background: #eee;
    border-radius: .5em;
    padding: .3em 0 .5em;
}

.today > div + div {
    margin-top: 1em;
}